{% extends "base/base.html" %}
{% block title %}
    Login
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static',filename='css/style.css') }}/>

{% endblock %}
{% block content %}
<div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
    <p class="text-center font16">{{ self.title() }}</p>
    <form action="{{ url_for('home.login') }}" method="post">
        <div class="form-group mg-t20">
            <i class="icon-user icon_font"></i>
            <input type="text" class="login_input" id="Email1" name="username" placeholder="请输入用户名"/>
        </div>
        {% if username_error %}<div style="color:red">{{ username_error }}</div>{% endif %}
        <div class="form-group mg-t20">
            <i class="icon-lock icon_font"></i>
            <input type="password" class="login_input" id="Password1" name="password" placeholder="请输入密码"/>
        </div>
        {% if password_error %}<div style="color:red">{{ password_error }}</div>{% endif %}
        <div class="checkbox mg-b25">
            <label>
                <input type="checkbox"/>记住我的登录信息
            </label>
        </div>
        <button style="submit" class="login_btn">登 录</button>
    </form>
    </div><!--row end-->
{% endblock %}