{% macro pagination_widget(pagintion, endpoint) %}
    <div class="container">
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example_length"><label>Show {{ perpage }}
                            entries</label></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                class="form-control input-sm"
                                                                                                placeholder=""
                                                                                                aria-controls="example"></label>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10
                            of
                            {{ rows }} entries
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                            <ul class="pagination">
                                <li {% if not pagintion.has_prev %}class="paginate_button previous disabled"
                                    {% else %}class="paginate_button previous"
                                    {% endif %} id="example_previous">
                                    <a href={{ url_for(endpoint, page=p-1, perpage=perpage) }} aria-controls="example"
                                        data-dt-idx="0" tabindex="0">Previous</a></li>
                                {% for p in pagintion.iter_pages() %}
                                    <li {% if p == pagintion.page %}class="paginate_button active"
                                        {% else %}class="paginate_button "
                                        {% endif %}>
                                        <a href={{ url_for(endpoint, page=p, perpage=perpage) }}
                                                    aria-controls="example" data-dt-idx="2" tabindex="0">{{ p }}</a>
                                    </li>
                                {% endfor %}

                                <li {% if not pagintion.has_next %}class="paginate_button next disabled"
                                {% else %}class="paginate_button next"
                                {% endif %} id="example_next">
                                    <a href={{ url_for(endpoint,page=p+1,perpage=perpage) }} aria-controls="example"
                                        data-dt-idx="7" tabindex="0">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endmacro %}