<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="css/bootstrap-3.3.4.css") }}>

    <link rel="stylesheet" href={{ url_for('static',filename='css/base.css') }}/>
    {% endblock %}
</head>
<body>
    <div id="content" class="container wrap1" style="height:450px;">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer" class="foot">
        &copy; Copyright 2017 by <a href="">kingsley</a>
    </div>
</body>
</html>