{% extends "base/layout.html" %}
{% block title %}
    db list
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error }}</div>
    {% else %}
        <div class="container">

        <form id="myform" method="post" action={{ url_for('sqlsystem.db_list') }}>
            {{ form.csrf_token }}
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example_length"><label>Show {{ form.PerPage }}
                            entries</label></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                class="form-control input-sm"
                                                                                                placeholder=""
                                                                                                aria-controls="example"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example" class="table table-striped table-bordered dataTable no-footer" cellspacing="0"
                               width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 256px;">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending" style="width: 397px;">Comment
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 197px;">Rows
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Salary: activate to sort column ascending" style="width: 155px;">CreateTime
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in tables%}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{ item['name'] }}</td>
                                        <td>{{ item['comment'] }}</td>
                                        <td>{{ item['rows'] }}</td>
                                        <td>{{ item['create_time'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    {% endif %}

    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $(document).ready(function () {
             $('#example')
            .removeClass('display')
            .addClass('table table-striped table-bordered');
             $('#selector').change(function () {
                 var sel = $('#selector').val();
{#                 {{ form.csrf_token }}#}
                 document.getElementById("myform").submit();    
                 //window.location.href = '/db_list'+sel;
             });


        });

    </script>
{% endblock %}